@model PaginatedList<Artist>
@{
    ViewData["Title"] = "All Artists";
    string siteUrl = Context.Request.Scheme + System.Uri.SchemeDelimiter + Context.Request.Host.Value;
}

<div class="container m-t-80 p-r-75 p-l-75 bg-white">
    <!-- <div class="row">
        <div class="col">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-9">

            <div class="card mb-4">
                <div class="card-header bg-primary text-white">
                    @ViewData["Title"]
                </div>
                @*<div class="card-body">
            <div class="row">
                @foreach ($artists as $artist)
                <div class="mb-4 col-xs-6 col-md-4">
                    <a href="{ url('artists/'.$artist->slug) }}">
                        <img class="img-responsive img-thumbnail" src="{ asset($artist->getMedia('artist-images')->last()->getUrl()) ? asset($artist->getMedia('artist-images')->last()->getUrl()) : asset('storage/avatar/images.png') }}" alt="{ $artist->name }}">
                    </a>
                    <p><a href="{ url('artists/'.$artist->slug) }}">{ $artist->name }} </a></p>
                </div>
                @endforeach
            </div>
        </div>
        { $artists->links('vendor.pagination.bootstrap-4-sm') }}*@
            <div class="card-body">
                <div class="row">
                    @foreach (var artists in Model)
                    {<div class="mb-4 col-xs-6 col-md-4">
                            <a href="@siteUrl/artists/@artists.Slug">
                                <img class="img-responsive img-thumbnail" src="@siteUrl/images/avatar.png" alt="@artists.Name">
                            </a>
                            <p><a href="@siteUrl/artists/@artists.Slug">@artists.Name </a></p>
                        </div>}
                </div>
                @{
                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                }

                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default @prevDisabled">
                    Previous
                </a>
                @for (var i = 1; i < Model.GetTotalPages + 1; i++)
                {<a asp-action="Index"
                    asp-route-sortOrder="@ViewData["CurrentSort"]"
                    asp-route-pageNumber="@i"
                    asp-route-currentFilter="@ViewData["CurrentFilter"]"
                    class="btn btn-default @(Model.PageIndex == i ? "disabled" : "" ) ">
                        @i
                    </a>}
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default @nextDisabled">
                    Next
                </a>
            </div>
            </div>
        </div>
    </div>
</div>
